/CheckBoxNotSelectedException.java
/Element_Is_Not_Clicked_Exception.java
/SearchResultIsEmpty.java
/ValueNotEnterdIntoTextFieldException.java
/ValueNotSelectedInListboxException.java
/valueIsInvalidFormat.java
